.App {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 26px;
    font-family: 'Tajawal', sans-serif;
    direction: rtl;
    background-color: #F4F6F7;
}

.App .main-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}